<?xml version="1.0"?>
<plugin id="Gnumeric_JkFuncPlugin">
	<information>
		<name>Sheetmusic</name>
		<description>Make music from spreadsheets</description>
	</information>
	<loader type="Gnumeric_PythonLoader:python">
		<attribute name="module_name" value="sheetmusic"/>
	</loader>
	<services>
		<service type="function_group" id="sheetmusic">
			<category>Local Python</category>
			<functions>
				<function name="to_integer"/>
				<function name="from_integer"/>
				<function name="interval"/>
				<function name="chord"/>
				<function name="scale"/>
				<function name="progression"/>
				<function name="sheetmusic"/>
				<function name="from_range_ref"/>
			</functions>
		</service>
	</services>
</plugin>
